/* Fraunces (serif) */
@font-face {
  font-family: 'Fraunces';
  src: url('/assets/fonts/fraunces-v38-latin/fraunces-v38-latin-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fraunces';
  src: url('/assets/fonts/fraunces-v38-latin/fraunces-v38-latin-700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fraunces';
  src: url('/assets/fonts/fraunces-v38-latin/fraunces-v38-latin-900.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Libre Baskerville (serif) */
@font-face {
  font-family: 'Libre Baskerville';
  src: url('/assets/fonts/libre-baskerville-v17-latin/libre-baskerville-v17-latin-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Libre Baskerville';
  src: url('/assets/fonts/libre-baskerville-v17-latin/libre-baskerville-v17-latin-700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Work Sans (sans-serif) */
@font-face {
  font-family: 'Work Sans';
  src: url('/assets/fonts/work-sans-v24-latin/work-sans-v24-latin-300.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Work Sans';
  src: url('/assets/fonts/work-sans-v24-latin/work-sans-v24-latin-300italic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Work Sans';
  src: url('/assets/fonts/work-sans-v24-latin/work-sans-v24-latin-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Work Sans';
  src: url('/assets/fonts/work-sans-v24-latin/work-sans-v24-latin-italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Work Sans';
  src: url('/assets/fonts/work-sans-v24-latin/work-sans-v24-latin-500.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Work Sans';
  src: url('/assets/fonts/work-sans-v24-latin/work-sans-v24-latin-600.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Work Sans';
  src: url('/assets/fonts/work-sans-v24-latin/work-sans-v24-latin-700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}